.collapse {
    width: 100%;
}

.del-button {
    width: 15px;
    height: 15px;
}

.w-93 {
    width: 93% !important;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4 !important;
        -moz-column-count: 4 !important;
        column-count: 4 !important;
    }
}