.bg {
    background-color: rgba(0, 44, 242, 0.09);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.auth {
    border-radius: 10px 10px 0 0;
    border: #212529 1px;
    padding-bottom: 10px;
    width: 400px !important;
    background-color: rgba(0, 44, 251, 0.08);
}

.auth-header {
    border-radius: 10px 10px 0 0;
    background-color: #212529;
    padding: 10px;
    text-align: center;
}

.auth-header span {
    color: white;
    font-size: 20px;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3 !important;
        -moz-column-count: 3 !important;
        column-count: 3 !important;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4 !important;
        -moz-column-count: 4 !important;
        column-count: 4 !important;
    }
}
