
.bg {
    background-color: rgba(0, 44, 242, 0.09);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
}

.off-label-bootstrap {
    margin-bottom: 0 !important;
}

.mt-12 {
    margin-top: 12% !important;
}