<!DOCTYPE HTML>
<html>
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>
<body>
<div>
    <h2>
        Hello, dude, how are you?
    </h2>
    <a href="/general">Go to the main page</a>
</div>
</body>
</html>